<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
<style type="text/css">

        
</style>
</head>
<body>
<div class="content-container">
	<h1 th:text="${cabecera}"></h1>
	<p th:text="${seleciona}"></p>
	<div>
		<a th:href="@{/loto/genera/49/6/spain}"><button class="btn btn-primary">España</button></a>
		<a th:href="@{/loto/genera/90/6/france}"><button class="btn btn-primary">Francia</button></a>
		<a th:href="@{/loto/genera/49/6/germany}"><button class="btn btn-primary">Alemania</button></a>
		<a th:href="@{/loto/genera/59/5/italy}"><button class="btn btn-primary">Italia</button></a>
	</div>
	
	<a th:href="@{/home}"><button class="btn btn-primary">Volver al menu</button></a>
	
	
</div>	
</body>
</html>