@charset "UTF-8";
	body, h1, p {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Roboto', sans-serif; 
            background-color: #f0f0f0; 
            color: #333; 
            display: flex;
            justify-content: center;
            min-height: 100vh; 
            text-align: center;
            padding: 20px;
        }


        .content-container {
            background-color: #ffffff; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            padding: 40px;
            border-radius: 10px; 
            width: 100%;
           
            
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #007acc; 
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6; 
            margin-bottom: 15px;
        }
        
      .proverbio{
      	font-family: italiaca;
       	font-weight: bold;
       	font-style: italic;
       	
        }
        
       .btn {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        padding: 12px 24px;
        margin: 10px 5px;
        border: none;
        border-radius: 5px; 
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }


    .btn-primary {
        background-color: #007acc; 
        color: #ffffff; 
    }

    .btn-primary:hover {
        background-color: #005fa3; 
        transform: translateY(-2px); 
    }

    .btn-primary:active {
        background-color: #004b82; 
        transform: translateY(0); 
    }