<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista de libros</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<style type="text/css">

    
    /*css tablas */
    
            table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        
</style>
</head>
<body>
<div class="content-container">
	<h1 th:text="${titulo}"></h1>
	<p th:text="${texto}"></p>
	<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Cantidad de Ejemplares</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="libro : ${listaLibros}">
                <td><a th:text="${libro.id}" th:href="@{/libros/info/{id}(id=${libro.id})}"></a></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.autor}"></td>
                <td><a th:text="${libro.genero}" th:href="@{/libros/lista/{genero}(genero=${libro.genero})}"></a></td>
                <td th:text="${libro.cantidadEjemplares}"></td>
            </tr>
        </tbody>
    </table>
	<a th:href="@{/home}"><button class="btn btn-primary">Volver al menu</button></a>

</div>	
</body>
</html>